Utilizaremos un set de datos de las policias de New York del año 2009 y 2010. (2009_1perc.csv y 2010_1perc.csv) los cuales nos darán información de los procedimientos policiales realizados. Además se le entregará el diccionario de variables para que pueda consultar que significa cada categoría dentro de las variables.
● La variable respuesta 'arstmade' informa si los procedimientos policiales han terminado en arresto o no, y el objetivo será realizar un modelo de Machine Learning para predecir si un futuro procedimiento terminará en arresto.

1.- Enliste todas las librerias que utilizará
Nota: Se recomienda ir actualizando la lista conforme las necesidades vaya teniendo durante el desarrollo de la prueba

In [1]:
import pandas as pd

2. Importación y revisión de los datos:
Importe ambos sets. Dado que la fuente de datos proviene de la misma base,tienen las mismas columnas. Consolide ambos sets y reporte una exploración básica de los datos (numero de filas/columnas, tipos de datos, estadísticas básicas, casos perdidos)

In [2]:
dataframe_2009 = pd.read_csv("2009_1perc.csv")
dataframe_2010 = pd.read_csv("2010_1perc.csv")

print(dataframe_2009.info())
print(dataframe_2010.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5812 entries, 0 to 5811
Columns: 112 entries, Unnamed: 0 to detailcm
dtypes: float64(1), int64(19), object(92)
memory usage: 5.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6013 entries, 0 to 6012
Columns: 112 entries, Unnamed: 0 to detailcm
dtypes: int64(17), object(95)
memory usage: 5.1+ MB
None

In [3]:
#Describe df_2009
print(dataframe_2009.describe())
print()
print(dataframe_2009.describe(include = "object"))

          Unnamed: 0    year          pct       ser_num      datestop  \
count    5812.000000  5812.0  5812.000000   5812.000000  5.812000e+03
mean   291666.632485  2009.0    69.051617   5769.119924  6.255350e+06
std    167435.992474     0.0    32.846903   5524.955522  3.447243e+06
min        52.000000  2009.0     1.000000      1.000000  1.012009e+06
25%    147489.750000  2009.0    42.000000   1902.750000  3.172009e+06
50%    292821.500000  2009.0    73.000000   4347.000000  6.142009e+06
75%    436008.750000  2009.0   102.000000   7616.750000  9.192009e+06
max    580847.000000  2009.0   123.000000  31694.000000  1.231201e+07

          timestop       perobs      perstop  compyear  comppct       repcmd  \
count  5812.000000  5812.000000  5812.000000    5812.0   5812.0  5812.000000
mean   1426.219202     2.665893     5.501893       0.0      0.0   252.115795
std     736.239726     4.816704     5.922592       0.0      0.0   305.058678
min       0.000000     0.000000     1.000000       0.0      0.0     1.000000
25%    1030.000000     1.000000     3.000000       0.0      0.0    70.000000
50%    1605.000000     1.000000     5.000000       0.0      0.0   105.000000
75%    2035.000000     3.000000     5.000000       0.0      0.0   178.000000
max    2830.000000   200.000000   200.000000       0.0      0.0   879.000000

            revcmd           dob          age      ht_feet      ht_inch  \
count  5812.000000  5.812000e+03  5812.000000  5812.000000  5812.000000
mean    249.074845  6.941142e+06    28.874054     5.188231     6.414315
std     306.222306  3.552806e+06    26.067172     0.402213     3.446479
min       1.000000  1.011900e+06     1.000000     3.000000     0.000000
25%      67.000000  4.061986e+06    19.000000     5.000000     4.000000
50%     103.000000  7.121980e+06    25.000000     5.000000     7.000000
75%     178.750000  1.012198e+07    34.000000     5.000000     9.000000
max     879.000000  1.231199e+07   999.000000     7.000000    11.000000

            weight      addrpct  linecm     detailcm
count  5812.000000  5812.000000  5812.0  5812.000000
mean    169.942533    69.051617     1.0    37.488644
std      37.653637    32.846903     0.0    25.059538
min       1.000000     1.000000     1.0     6.000000
25%     150.000000    42.000000     1.0    20.000000
50%     170.000000    73.000000     1.0    28.000000
75%     180.000000   102.000000     1.0    46.000000
max     999.000000   123.000000     1.0   113.000000

       recstat inout trhsloc crimsusp typeofid explnstp othpers arstmade  \
count     5812  5812    5812     5812     5812     5812    5812     5812
unique       2     2       4      388        4        2       2        2
top          A     O       P      CPW        P        Y       N        N
freq      3713  4389    4147      814     3246     5810    4678     5464

       arstoffn sumissue  ... aptnum      city state   zip sector  beat  post  \
count      5812     5812  ...   5812      5812  5812  5812   5812  5812  5812
unique      164        2  ...      1         5     1     1     19    34    83
top                    N  ...         BROOKLYN                  A
freq       5464     5454  ...   5812      2061  5812  5812    578  3622  5268

       xcoord ycoord dettypcm
count    5812   5812     5812
unique   4346   4430        1
top                        CM
freq      168    168     5812

[4 rows x 92 columns]

In [4]:
#Describe df_2010
print(dataframe_2010.describe())
print()
print(dataframe_2010.describe(include = "object"))

          Unnamed: 0    year          pct       ser_num      datestop  \
count    6013.000000  6013.0  6013.000000   6013.000000  6.013000e+03
mean   300156.684184  2010.0    68.213870   5629.246300  6.469452e+06
std    173941.822364     0.0    33.218863   4764.331369  3.408437e+06
min       135.000000  2010.0     1.000000      1.000000  1.012010e+06
25%    147573.000000  2010.0    42.000000   2071.000000  3.302010e+06
50%    299643.000000  2010.0    72.000000   4393.000000  6.182010e+06
75%    450268.000000  2010.0   102.000000   8038.000000  9.262010e+06
max    601281.000000  2010.0   123.000000  28078.000000  1.231201e+07

          timestop       perobs      perstop  compyear  comppct       repcmd  \
count  6013.000000  6013.000000  6013.000000    6013.0   6013.0  6013.000000
mean   1401.649426     2.643273     5.792283       0.0      0.0   234.886912
std     752.702505    12.840711    12.383224       0.0      0.0   290.362984
min       0.000000     0.000000     1.000000       0.0      0.0     1.000000
25%     930.000000     1.000000     3.000000       0.0      0.0    69.000000
50%    1604.000000     1.000000     5.000000       0.0      0.0   106.000000
75%    2035.000000     2.000000     5.000000       0.0      0.0   175.000000
max    2359.000000   926.000000   857.000000       0.0      0.0   879.000000

            revcmd           dob          age      ht_feet      ht_inch  \
count  6013.000000  6.013000e+03  6013.000000  6013.000000  6013.000000
mean    229.235157  7.678712e+06    29.059870     5.178613     6.401962
std     292.338809  3.857909e+06    31.948786     0.395452     3.365698
min       1.000000  1.011900e+06     1.000000     3.000000     0.000000
25%      62.000000  4.181986e+06    19.000000     5.000000     4.000000
50%     102.000000  8.131990e+06    24.000000     5.000000     7.000000
75%     173.000000  1.205197e+07    34.000000     5.000000     9.000000
max     879.000000  1.231200e+07   999.000000     7.000000    11.000000

            weight
count  6013.000000
mean    170.239647
std      36.750557
min       1.000000
25%     150.000000
50%     170.000000
75%     180.000000
max     999.000000

       recstat inout trhsloc crimsusp typeofid explnstp othpers arstmade  \
count     6013  6013    6013     6013     6013     6013    6013     6013
unique       2     2       3      406        4        2       2        2
top          A     O       P      FEL        P        Y       N        N
freq      3494  4670    4722     1051     3270     6004    4741     5613

       arstoffn sumissue  ...   zip addrpct sector  beat  post xcoord ycoord  \
count      6013     6013  ...  6013    6013   6013  6013  6013   6013   6013
unique      151        2  ...     1      77     19    63   142   4553   4619
top                    N  ...            75      B
freq       5614     5567  ...  6013     290    666  3822  5383    249    249

       dettypcm linecm detailcm
count      6013   6013     6013
unique        2      2       81
top          CM      1       20
freq       6012   6012     1376

[4 rows x 95 columns]

In [5]:
#Casos perdidos
print(dataframe_2009.isna().sum())
print()
print(dataframe_2009.isna().sum())

Unnamed: 0    0
year          0
pct           0
ser_num       0
datestop      0
             ..
xcoord        0
ycoord        0
dettypcm      0
linecm        0
detailcm      0
Length: 112, dtype: int64

Unnamed: 0    0
year          0
pct           0
ser_num       0
datestop      0
             ..
xcoord        0
ycoord        0
dettypcm      0
linecm        0
detailcm      0
Length: 112, dtype: int64

In [6]:
#Comparar tipos de datos de df's
# Obtener los tipos de datos de cada DataFrame
dtypes_2009 = dataframe_2009.dtypes
dtypes_2010 = dataframe_2010.dtypes

# Comparar los tipos de datos columna por columna
diferentes = []
for columna in dtypes_2009.index:
    if dtypes_2009[columna] != dtypes_2010[columna]:
        diferentes.append(columna)

# Imprimir las columnas con tipos de datos diferentes
if len(diferentes) == 0:
    print("Los tipos de datos son iguales en todas las columnas.")
else:
    print("Los tipos de datos son diferentes en las siguientes columnas:")
    for columna in diferentes:
        print(columna)

Los tipos de datos son diferentes en las siguientes columnas:
perobs
addrpct
linecm
detailcm

In [7]:
#Revisar el tipo de datos de variables no coincidentes
print(f"perobs 2009: {dataframe_2009['perobs'].dtype}, perobs 2010: {dataframe_2010['perobs'].dtype}")
print(f"addrpct 2009: {dataframe_2009['addrpct'].dtype}, addrpct 2010: {dataframe_2010['addrpct'].dtype}")
print(f"linecm 2009: {dataframe_2009['linecm'].dtype}, linecm 2010: {dataframe_2010['linecm'].dtype}")
print(f"detailcm 2009: {dataframe_2009['detailcm'].dtype}, detailcm 2010: {dataframe_2010['detailcm'].dtype}")

perobs 2009: float64, perobs 2010: int64
addrpct 2009: int64, addrpct 2010: object
linecm 2009: int64, linecm 2010: object
detailcm 2009: int64, detailcm 2010: object

In [8]:
#Transformar todas las variables no concordantes en object
dataframe_2009['perobs'] = dataframe_2009['perobs'].astype(object)
dataframe_2010['perobs'] = dataframe_2010['perobs'].astype(object)
dataframe_2009['addrpct'] = dataframe_2009['addrpct'].astype(object)
dataframe_2010['addrpct'] = dataframe_2010['addrpct'].astype(object)
dataframe_2009['linecm'] = dataframe_2009['linecm'].astype(object)
dataframe_2010['linecm'] = dataframe_2010['linecm'].astype(object)
dataframe_2009['detailcm'] = dataframe_2009['detailcm'].astype(object)
dataframe_2010['detailcm'] = dataframe_2010['detailcm'].astype(object)

In [9]:
df_consolidado = pd.concat([dataframe_2009, dataframe_2010], ignore_index=True)
df_consolidado.head(5)

,Unnamed: 0,year,pct,ser_num,datestop,timestop,recstat,inout,trhsloc,perobs,...,zip,addrpct,sector,beat,post,xcoord,ycoord,dettypcm,linecm,detailcm
0,178048,2009,41,1779,4032009,130,A,O,P,1.0,...,,41,G,7,,1013067,0238633,CM,1,20
1,498873,2009,108,5805,10292009,1050,A,O,P,3.0,...,,108,J,,,1012043,0212157,CM,1,14
2,463573,2009,43,8340,10062009,1450,1,O,P,1.0,...,,43,E,,,1017599,0240200,CM,1,20
3,43626,2009,77,932,1232009,1843,A,O,P,5.0,...,,77,J,4,35,1002625,0183442,CM,1,24
4,563921,2009,110,11224,12132009,1655,A,O,P,3.0,...,,110,H,,,1024535,0209890,CM,1,20

In [10]:
#Revisar el tipo de datos de variables no coincidentes
print(f"perobs consolidado: {df_consolidado['perobs'].dtypes}")
print(f"addrpct consolidado: {df_consolidado['addrpct'].dtypes}")
print(f"linecm consolidado: {df_consolidado['linecm'].dtypes}")
print(f"detailcm consolidado: {df_consolidado['detailcm'].dtypes}")

perobs consolidado: object
addrpct consolidado: object
linecm consolidado: object
detailcm consolidado: object

In [11]:
#Castear a numeric
df_consolidado['perobs'] = pd.to_numeric(df_consolidado["perobs"], errors='coerce')
df_consolidado['addrpct'] = pd.to_numeric(df_consolidado['addrpct'], errors='coerce')
df_consolidado['linecm'] = pd.to_numeric(df_consolidado['linecm'], errors='coerce')
df_consolidado['detailcm'] = pd.to_numeric(df_consolidado['detailcm'], errors='coerce')

In [12]:
#Eliminar NA
#df_consolidado = df_consolidado.dropna(axis = 0)

3. Preprocesamiento de datos:

   Habrá notado que los datos parecen tener ciertas inconsistencias. Siga los siguientes pasos para limpiar este set:
   1. Obtenga una lista con todas las variables categoricas que tengan entre 2 y 99 categorías (inclusive). (hint: son las variables tipo categoricas

In [13]:
#Filtrar categóricas
variables_categoricas = df_consolidado.select_dtypes(include=['object'])
variables_categoricas

,recstat,inout,trhsloc,crimsusp,typeofid,explnstp,othpers,arstmade,arstoffn,sumissue,...,aptnum,city,state,zip,sector,beat,post,xcoord,ycoord,dettypcm
0,A,O,P,CPW,P,Y,N,N,,N,...,,BRONX,,,G,7,,1013067,0238633,CM
1,A,O,P,BURG,P,Y,Y,N,,N,...,,QUEENS,,,J,,,1012043,0212157,CM
2,1,O,P,MISD,V,Y,N,N,,N,...,,BRONX,,,E,,,1017599,0240200,CM
3,A,O,P,MIS,P,Y,N,N,,N,...,,BROOKLYN,,,J,4,35,1002625,0183442,CM
4,A,O,P,CPW,P,Y,Y,N,,N,...,,QUEENS,,,H,,,1024535,0209890,CM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11820,1,O,H,MISD,P,Y,N,N,,N,...,,BROOKLYN,,,I,,,989382,155162,CM
11821,A,O,P,ROBBERY,R,Y,N,N,,N,...,,BROOKLYN,,,A,,,1012757,186018,CM
11822,A,O,P,GLA,P,Y,N,N,,Y,...,,STATEN IS,,,E,,,933868,138600,CM
11823,1,O,P,FELONY,P,Y,N,N,,N,...,,QUEENS,,,E,,,1014722,214388,CM
11824,1,I,T,CRIM MIS.,P,Y,N,N,,N,...,,MANHATTAN,,,H,11,,987078,215157,CM

In [14]:
#Listar las que tienen entre 2 y 99 categorías
valores_distintos = variables_categoricas.nunique()
valores_distintos[(valores_distintos > 2) & (valores_distintos < 99)]

trhsloc      4
typeofid     4
sex          3
race         8
haircolr    11
eyecolor    11
build        5
city         7
sector      19
beat        64
dtype: int64

 B. Reemplaze las siguientes clases faltantes: -Si alguna categoría de las columnas officrid, offshld o offverb es igual a ""
cambielo a 'N' y en caso contrario dejelo como 'Y' -Si alguna categoría de las columnas sector, trhsloc o beat es igual a "" (o NA, dependiendo de como haya catgado la base de datos), cambielo a 'U' y en caso contrario mantenga su valor Nota, los valores significan {N: No, Y: Yes, U: Unknown}

In [15]:
#Revisar si las variables continen NA o ""
print(df_consolidado["officrid"].isna().sum())
print(" "in df_consolidado["officrid"].values)
print(df_consolidado["offshld"].isna().sum())
print(" "in df_consolidado["offshld"].values)
print(df_consolidado["offverb"].isna().sum())
print(" "in df_consolidado["offverb"].values)

0
True
0
True
0
True