In [186]:
import pandas as pd

In [187]:
# Cargue los tres datasets usando pandas

var_state_abbrevs = pd.read_csv ('state-abbrevs.csv', sep=';')
var_state_area = pd.read_csv ('state-area.csv', sep=';')
var_state_population = pd.read_csv ('state-population.csv', sep=';')

In [188]:
#Revise los datos cargados y realice las modificaciones necesarias para empezar a trabajar

print (var_state_abbrevs.head ())
print (var_state_area.head ())
print (var_state_population.head ())

        state abbreviation  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0     Alabama           AL         NaN         NaN         NaN         NaN
1      Alaska           AK         NaN         NaN         NaN         NaN
2     Arizona           AZ         NaN         NaN         NaN         NaN
3    Arkansas           AR         NaN         NaN         NaN         NaN
4  California           CA         NaN         NaN         NaN         NaN

   Unnamed: 6
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        state  area (sq. mi)  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0     Alabama          52423         NaN         NaN         NaN         NaN
1      Alaska         656425         NaN         NaN         NaN         NaN
2     Arizona         114006         NaN         NaN         NaN         NaN
3    Arkansas          53182         NaN         NaN         NaN         NaN
4  California         163707         NaN         NaN         NaN         NaN

   Unnamed: 6
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
  state/region     ages  year  population  Unnamed: 4  Unnamed: 5  Unnamed: 6
0           AL  under18  2012   1117489.0         NaN         NaN         NaN
1           AL    total  2012   4817528.0         NaN         NaN         NaN
2           AL  under18  2010   1130966.0         NaN         NaN         NaN
3           AL    total  2010   4785570.0         NaN         NaN         NaN
4           AL  under18  2011   1125763.0         NaN         NaN         NaN

In [189]:
# Elimine las columnas que no aportan información

var_state_abbrevs = var_state_abbrevs.dropna (axis = 1, how = 'all')
var_state_area = var_state_area.dropna (axis = 1, how = 'all')
var_state_population = var_state_population.dropna (axis = 1, how = 'all')

print (var_state_abbrevs.head ())
print (var_state_area.head ())
print (var_state_population.head ())

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA
        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707
  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

In [190]:
# Agrupe por state/region y ages, para luego agregar usando promedio, mínimo, máximo y contar

print (var_state_population)

var_state_population_grouped = var_state_population.groupby (['state/region', 'ages'])

print (var_state_population_grouped)

var_state_population_grouped = var_state_population_grouped.agg (['mean', 'min', 'max', 'count'])

print (var_state_population_grouped)

     state/region     ages  year   population
0              AL  under18  2012    1117489.0
1              AL    total  2012    4817528.0
2              AL  under18  2010    1130966.0
3              AL    total  2010    4785570.0
4              AL  under18  2011    1125763.0
...           ...      ...   ...          ...
2539          USA    total  2010  309326295.0
2540          USA  under18  2011   73902222.0
2541          USA    total  2011  311582564.0
2542          USA  under18  2012   73708179.0
2543          USA    total  2012  313873685.0

[2544 rows x 4 columns]
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000215FCB90CA0>
                        year                      population             \
                        mean   min   max count          mean        min
state/region ages
AK           total    2001.5  1990  2013    24  6.462048e+05   553290.0
             under18  2001.5  1990  2013    24  1.866730e+05   177502.0
AL           total    2001.5  1990  2013    24  4.484528e+06  4050055.0
             under18  2001.5  1990  2013    24  1.111197e+06  1050041.0
AR           total    2001.5  1990  2013    24  2.693178e+06  2356586.0
...                      ...   ...   ...   ...           ...        ...
WI           under18  2001.5  1990  2013    24  1.344394e+06  1302869.0
WV           total    2001.5  1990  2013    24  1.823426e+06  1792548.0
             under18  2001.5  1990  2013    24  4.049168e+05   381678.0
WY           total    2001.5  1990  2013    24  5.103280e+05   453690.0
             under18  2001.5  1990  2013    24  1.322450e+05   123974.0


                            max count
state/region ages
AK           total     735132.0    24
             under18   192636.0    24
AL           total    4833722.0    24
             under18  1134927.0    24
AR           total    2959373.0    24
...                         ...   ...
WI           under18  1370440.0    24
WV           total    1856680.0    24
             under18   436797.0    24
WY           total     582658.0    24
             under18   137733.0    24

[106 rows x 8 columns]

In [191]:
# Forme un nuevo dataset llamado df que tenga la información de los 3 sets importados. Use las llaves necesarias

# var_state_abbrevs - var_state_area
var_not_exist_in_state_area = var_state_abbrevs [~var_state_abbrevs ['state'].isin (var_state_area ['state'])]

print (var_state_abbrevs.shape)
print (var_not_exist_in_state_area)

# var_state_area - var_state_abbrevs
var_not_exist_state_abbrevs = var_state_area [~var_state_area ['state'].isin (var_state_abbrevs ['state'])]

print (var_state_area.shape)
print (var_not_exist_state_abbrevs)

# var_state_abbrevs + var_state_area by state
var_dataframe = pd.merge (var_state_abbrevs, var_state_area, on = 'state')
var_dataframe.rename (columns = {'abbreviation': 'state/region'}, inplace = True)

print (var_dataframe)

# var_state_population + var_dataframe by state/region
var_dataframe = pd.merge (var_state_population, var_dataframe, on = 'state/region')

print (var_dataframe)

(51, 2)
Empty DataFrame
Columns: [state, abbreviation]
Index: []
(52, 2)
          state  area (sq. mi)
51  Puerto Rico           3515
                   state state/region  area (sq. mi)
0                Alabama           AL          52423
1                 Alaska           AK         656425
2                Arizona           AZ         114006
3               Arkansas           AR          53182
4             California           CA         163707
5               Colorado           CO         104100
6            Connecticut           CT           5544
7               Delaware           DE           1954
8   District of Columbia           DC             68
9                Florida           FL          65758
10               Georgia           GA          59441
11                Hawaii           HI          10932
12                 Idaho           ID          83574
13              Illinois           IL          57918
14               Indiana           IN          36420
15                  Iowa           IA          56276
16                Kansas           KS          82282
17              Kentucky           KY          40411
18             Louisiana           LA          51843
19                 Maine           ME          35387
20               Montana           MT         147046
21              Nebraska           NE          77358
22                Nevada           NV         110567
23         New Hampshire           NH           9351
24            New Jersey           NJ           8722
25            New Mexico           NM         121593
26              New York           NY          54475
27        North Carolina           NC          53821
28          North Dakota           ND          70704
29                  Ohio           OH          44828
30              Oklahoma           OK          69903
31                Oregon           OR          98386
32              Maryland           MD          12407
33         Massachusetts           MA          10555
34              Michigan           MI          96810
35             Minnesota           MN          86943
36           Mississippi           MS          48434
37              Missouri           MO          69709
38          Pennsylvania           PA          46058
39          Rhode Island           RI           1545
40        South Carolina           SC          32007
41          South Dakota           SD          77121
42             Tennessee           TN          42146
43                 Texas           TX         268601
44                  Utah           UT          84904
45               Vermont           VT           9615
46              Virginia           VA          42769
47            Washington           WA          71303
48         West Virginia           WV          24231
49             Wisconsin           WI          65503
50               Wyoming           WY          97818
     state/region     ages  year  population    state  area (sq. mi)
0              AL  under18  2012   1117489.0  Alabama          52423
1              AL    total  2012   4817528.0  Alabama          52423
2              AL  under18  2010   1130966.0  Alabama          52423
3              AL    total  2010   4785570.0  Alabama          52423
4              AL  under18  2011   1125763.0  Alabama          52423
...           ...      ...   ...         ...      ...            ...
2443           WY  under18  1993    137458.0  Wyoming          97818
2444           WY    total  1991    459260.0  Wyoming          97818
2445           WY  under18  1991    136720.0  Wyoming          97818
2446           WY  under18  1990    136078.0  Wyoming          97818
2447           WY    total  1990    453690.0  Wyoming          97818

[2448 rows x 6 columns]

In [194]:
# Calcule la población por área para cada estado. Para esto agrupe por state/region y calcule el promedio de la población. Guarde dicha información en un data frame con las columnas 'state' y 'pop/area'(hint: puede extraer los valores de un objeto groupby, finalizando su sentencia con .values, o extraer sus etiquetas con .index

var_mean_population_by_state = var_state_population.groupby ('state/region') ['population'].mean ()

#print (var_mean_population_by_state)

var_state_population_xxxx = pd.merge (var_state_population, var_mean_population_by_state, left_on = 'state/region', right_index = True)


print (var_state_population)
#print (var_state_population_xxxx)

#var_state_population ['pop/area'] = var_population_by_state


#print (var_state_population)

     state/region     ages  year   population
0              AL  under18  2012    1117489.0
1              AL    total  2012    4817528.0
2              AL  under18  2010    1130966.0
3              AL    total  2010    4785570.0
4              AL  under18  2011    1125763.0
...           ...      ...   ...          ...
2539          USA    total  2010  309326295.0
2540          USA  under18  2011   73902222.0
2541          USA    total  2011  311582564.0
2542          USA  under18  2012   73708179.0
2543          USA    total  2012  313873685.0

[2544 rows x 4 columns]

In [193]:
# Finalmente, cree un dataframe que posea: El estado, el área, la población, la población por área y como índice la abreviación del nombre del estado