# Actividad 5 módulo 3

Para este ejercicio, primero debe obtener los datos de gapminder de la URL
de carpintería de software y cargarlos como marco de datos de pandas. Los
datos de gapminder tienen información sobre la vida útil, la población y el pib
de los países durante varios años.

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
gapminder_csv_url ='gapminder.csv'
gapminder = pd.read_csv(gapminder_csv_url)
print(gapminder.head(3))

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710

In [4]:
gapminder

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

A partir de esto, realice lo siguiente:

1. Realice un resumen estadístico de sus datos.

In [5]:
gapminder.describe()

             year           pop      lifeExp      gdpPercap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900



2. Agrupe por la variable “año”. Comente respecto al resultado al usar
groupby.

In [6]:
gapminder.groupby(['year']).aggregate(['mean','median','max'])

C:\Users\abaci\AppData\Local\Temp\ipykernel_42360\3393800581.py:1: FutureWarning: ['country', 'continent'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  gapminder.groupby(['year']).aggregate(['mean','median','max'])

               pop                              lifeExp                   \
              mean      median           max       mean   median     max
year
1952  1.695040e+07   3943953.0  5.562635e+08  49.057620  45.1355  72.670
1957  1.876341e+07   4282942.0  6.374080e+08  51.507401  48.3605  73.470
1962  2.042101e+07   4686039.5  6.657700e+08  53.609249  50.8810  73.680
1967  2.265830e+07   5170175.5  7.545500e+08  55.678290  53.8250  74.160
1972  2.518998e+07   5877996.5  8.620300e+08  57.647386  56.5300  74.720
1977  2.767638e+07   6404036.5  9.434550e+08  59.570157  59.6720  76.110
1982  3.020730e+07   7007320.0  1.000281e+09  61.533197  62.4415  77.110
1987  3.303857e+07   7774861.5  1.084035e+09  63.212613  65.8340  78.670
1992  3.599092e+07   8688686.5  1.164970e+09  64.160338  67.7030  79.360
1997  3.883947e+07   9735063.5  1.230075e+09  65.014676  69.3940  80.690
2002  4.145759e+07  10372918.5  1.280400e+09  65.694923  70.8255  82.000
2007  4.402122e+07  10517531.0  1.318683e+09  67.007423  71.9355  82.603

         gdpPercap
              mean       median           max
year
1952   3725.276046  1968.528344  108382.35290
1957   4299.408345  2173.220291  113523.13290
1962   4725.812342  2335.439533   95458.11176
1967   5483.653047  2678.334740   80894.88326
1972   6770.082815  3339.129407  109347.86700
1977   7313.166421  3798.609244   59265.47714
1982   7518.901673  4216.228428   33693.17525
1987   7900.920218  4280.300366   31540.97480
1992   8158.608521  4386.085502   34932.91959
1997   9090.175363  4781.825478   41283.16433
2002   9917.848365  5319.804524   44683.97525
2007  11680.071820  6124.371108   49357.19017

3. Ahora obtenga la suma (la cantidad), la media y la mediana para cada
grupo, es decir, por año.

In [7]:
gapminder.groupby('year').aggregate(['sum','mean','median'])

C:\Users\abaci\AppData\Local\Temp\ipykernel_42360\4162069643.py:1: FutureWarning: ['country', 'continent'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  gapminder.groupby('year').aggregate(['sum','mean','median'])

               pop                               lifeExp                      \
               sum          mean      median         sum       mean   median
year
1952  2.406957e+09  1.695040e+07   3943953.0  6966.18200  49.057620  45.1355
1957  2.664405e+09  1.876341e+07   4282942.0  7314.05096  51.507401  48.3605
1962  2.899783e+09  2.042101e+07   4686039.5  7612.51336  53.609249  50.8810
1967  3.217478e+09  2.265830e+07   5170175.5  7906.31712  55.678290  53.8250
1972  3.576977e+09  2.518998e+07   5877996.5  8185.92888  57.647386  56.5300
1977  3.930046e+09  2.767638e+07   6404036.5  8458.96236  59.570157  59.6720
1982  4.289437e+09  3.020730e+07   7007320.0  8737.71400  61.533197  62.4415
1987  4.691477e+09  3.303857e+07   7774861.5  8976.19100  63.212613  65.8340
1992  5.110710e+09  3.599092e+07   8688686.5  9110.76800  64.160338  67.7030
1997  5.515204e+09  3.883947e+07   9735063.5  9232.08400  65.014676  69.3940
2002  5.886978e+09  4.145759e+07  10372918.5  9328.67900  65.694923  70.8255
2007  6.251013e+09  4.402122e+07  10517531.0  9515.05400  67.007423  71.9355

         gdpPercap
               sum          mean       median
year
1952  5.289892e+05   3725.276046  1968.528344
1957  6.105160e+05   4299.408345  2173.220291
1962  6.710654e+05   4725.812342  2335.439533
1967  7.786787e+05   5483.653047  2678.334740
1972  9.613518e+05   6770.082815  3339.129407
1977  1.038470e+06   7313.166421  3798.609244
1982  1.067684e+06   7518.901673  4216.228428
1987  1.121931e+06   7900.920218  4280.300366
1992  1.158522e+06   8158.608521  4386.085502
1997  1.290805e+06   9090.175363  4781.825478
2002  1.408334e+06   9917.848365  5319.804524
2007  1.658570e+06  11680.071820  6124.371108

In [8]:
gapminder.groupby(['year', 'country']).aggregate(['sum','mean','median'])

C:\Users\abaci\AppData\Local\Temp\ipykernel_42360\380224986.py:1: FutureWarning: ['continent'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  gapminder.groupby(['year', 'country']).aggregate(['sum','mean','median'])

                                pop                         lifeExp          \
                                sum        mean      median     sum    mean
year country
1952 Afghanistan          8425333.0   8425333.0   8425333.0  28.801  28.801
     Albania              1282697.0   1282697.0   1282697.0  55.230  55.230
     Algeria              9279525.0   9279525.0   9279525.0  43.077  43.077
     Angola               4232095.0   4232095.0   4232095.0  30.015  30.015
     Argentina           17876956.0  17876956.0  17876956.0  62.485  62.485
...                             ...         ...         ...     ...     ...
2007 Vietnam             85262356.0  85262356.0  85262356.0  74.249  74.249
     West Bank and Gaza   4018332.0   4018332.0   4018332.0  73.422  73.422
     Yemen Rep.          22211743.0  22211743.0  22211743.0  62.698  62.698
     Zambia              11746035.0  11746035.0  11746035.0  42.384  42.384
     Zimbabwe            12311143.0  12311143.0  12311143.0  43.487  43.487

                                   gdpPercap
                         median          sum         mean       median
year country
1952 Afghanistan         28.801   779.445314   779.445314   779.445314
     Albania             55.230  1601.056136  1601.056136  1601.056136
     Algeria             43.077  2449.008185  2449.008185  2449.008185
     Angola              30.015  3520.610273  3520.610273  3520.610273
     Argentina           62.485  5911.315053  5911.315053  5911.315053
...                         ...          ...          ...          ...
2007 Vietnam             74.249  2441.576404  2441.576404  2441.576404
     West Bank and Gaza  73.422  3025.349798  3025.349798  3025.349798
     Yemen Rep.          62.698  2280.769906  2280.769906  2280.769906
     Zambia              42.384  1271.211593  1271.211593  1271.211593
     Zimbabwe            43.487   469.709298   469.709298   469.709298

[1704 rows x 9 columns]

In [9]:
gapminder.agg(                          
    {
        'pop': ['sum'],
        'lifeExp': ['mean', 'median'],
        'gdpPercap' : ['mean', 'median'],
        
    }
)

                 pop    lifeExp    gdpPercap
sum     5.044047e+10        NaN          NaN
mean             NaN  59.474439  7215.327081
median           NaN  60.712500  3531.846988

4. ¿Sabías que en 1967 en Chile se inaugura el Aeropuerto Internacional
Arturo Merino Benítez? Usando estos datos se puede especificar un año
y obtener un marco de datos más pequeño para el año usando la función
get_group(). Por ejemplo, podemos obtener el marco de datos
agrupados para el año 1967. Comenta tus resultados. Escoge otro año
explicando el porqué de la elección y qué resultados obtuviste.

In [10]:
gapminder.groupby('year').get_group(1967)

                 country  year         pop continent  lifeExp    gdpPercap
3            Afghanistan  1967  11537966.0      Asia   34.020   836.197138
15               Albania  1967   1984060.0    Europe   66.220  2760.196931
27               Algeria  1967  12760499.0    Africa   51.407  3246.991771
39                Angola  1967   5247469.0    Africa   35.985  5522.776375
51             Argentina  1967  22934225.0  Americas   65.634  8052.953021
...                  ...   ...         ...       ...      ...          ...
1647             Vietnam  1967  39463910.0      Asia   47.838   637.123289
1659  West Bank and Gaza  1967   1142636.0      Asia   51.631  2649.715007
1671          Yemen Rep.  1967   6740785.0      Asia   36.984   862.442146
1683              Zambia  1967   3900000.0    Africa   47.768  1777.077318
1695            Zimbabwe  1967   4995432.0    Africa   53.995   569.795071

[142 rows x 6 columns]

In [11]:
gapminder.groupby('year').get_group(2007)

                 country  year         pop continent  lifeExp     gdpPercap
11           Afghanistan  2007  31889923.0      Asia   43.828    974.580338
23               Albania  2007   3600523.0    Europe   76.423   5937.029526
35               Algeria  2007  33333216.0    Africa   72.301   6223.367465
47                Angola  2007  12420476.0    Africa   42.731   4797.231267
59             Argentina  2007  40301927.0  Americas   75.320  12779.379640
...                  ...   ...         ...       ...      ...           ...
1655             Vietnam  2007  85262356.0      Asia   74.249   2441.576404
1667  West Bank and Gaza  2007   4018332.0      Asia   73.422   3025.349798
1679          Yemen Rep.  2007  22211743.0      Asia   62.698   2280.769906
1691              Zambia  2007  11746035.0    Africa   42.384   1271.211593
1703            Zimbabwe  2007  12311143.0    Africa   43.487    469.709298

[142 rows x 6 columns]

Ahora con los datos anteriores construya tablas pivote según las siguientes
instrucciones:
1. Construya una tabla fijando “continent”, con las funciones vistas en
clase
2. Realice una tabla de doble entrada, fijando “continent” y “year”.
Comente sus resultados.
3. Con las variables anteriores, obtenga el promedio de la variable “pop”.
4. Obtenga un gráfico de barras del punto 3, comente sus resultados.

In [12]:
gapminder.pivot_table(
    index='continent',
)

C:\Users\abaci\AppData\Local\Temp\ipykernel_42360\1065110606.py:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  gapminder.pivot_table(

              gdpPercap    lifeExp           pop    year
continent
Africa      2193.754578  48.865330  9.916003e+06  1979.5
Americas    7136.110356  64.658737  2.450479e+07  1979.5
Asia        7902.150428  60.064903  7.703872e+07  1979.5
Europe     14469.475533  71.903686  1.716976e+07  1979.5
Oceania    18621.609223  74.326208  8.874672e+06  1979.5

In [13]:
gapminder.pivot_table(
    index='year',
    columns= 'continent'
)

C:\Users\abaci\AppData\Local\Temp\ipykernel_42360\3506154447.py:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  gapminder.pivot_table(

             gdpPercap                                            \
continent       Africa      Americas          Asia        Europe
year
1952       1252.572466   4079.062552   5195.484004   5661.057435
1957       1385.236062   4616.043733   5787.732940   6963.012816
1962       1598.078825   4901.541870   5729.369625   8365.486814
1967       2050.363801   5668.253496   5971.173374  10143.823757
1972       2339.615674   6491.334139   8187.468699  12479.575246
1977       2585.938508   7352.007126   7791.314020  14283.979110
1982       2481.592960   7506.737088   7434.135157  15617.896551
1987       2282.668991   7793.400261   7608.226508  17214.310727
1992       2281.810333   8044.934406   8639.690248  17061.568084
1997       2378.759555   8889.300863   9834.093295  19076.781802
2002       2599.385159   9287.677107  10174.090397  21711.732422
2007       3089.032605  11003.031625  12473.026870  25054.481636

                           lifeExp                                           \
continent       Oceania     Africa  Americas       Asia     Europe  Oceania
year
1952       10298.085650  39.135500  53.27984  46.314394  64.408500  69.2550
1957       11598.522455  41.266346  55.96028  49.318544  66.703067  70.2950
1962       12696.452430  43.319442  58.39876  51.563223  68.539233  71.0850
1967       14495.021790  45.334538  60.41092  54.663640  69.737600  71.3100
1972       16417.333380  47.450942  62.39492  57.319269  70.775033  71.9100
1977       17283.957605  49.580423  64.39156  59.610556  71.937767  72.8550
1982       18554.709840  51.592865  66.22884  62.617939  72.806400  74.2900
1987       20448.040160  53.344788  68.09072  64.851182  73.642167  75.3200
1992       20894.045885  53.629577  69.56836  66.537212  74.440100  76.9450
1997       24024.175170  53.598269  71.15048  68.020515  75.505167  78.1900
2002       26938.778040  53.325231  72.42204  69.233879  76.700600  79.7400
2007       29810.188275  54.806038  73.60812  70.728485  77.648600  80.7195

                    pop
continent        Africa     Americas          Asia        Europe     Oceania
year
1952       4.570010e+06  13806097.84  4.228356e+07  1.393736e+07   5343003.0
1957       5.093033e+06  15478156.64  4.735699e+07  1.459635e+07   5970988.0
1962       5.702247e+06  17330810.16  5.140476e+07  1.534517e+07   6641759.0
1967       6.447875e+06  19229864.92  5.774736e+07  1.603930e+07   7300207.0
1972       7.305376e+06  21175368.40  6.518098e+07  1.668784e+07   8053050.0
1977       8.328097e+06  23122707.96  7.225799e+07  1.723882e+07   8619500.0
1982       9.602857e+06  25211636.80  7.909502e+07  1.770890e+07   9197425.0
1987       1.105450e+07  27310158.84  8.700669e+07  1.810314e+07   9787207.5
1992       1.267464e+07  29570964.16  9.494825e+07  1.860476e+07  10459825.5
1997       1.430448e+07  31876016.40  1.025238e+08  1.896480e+07  11120715.0
2002       1.603315e+07  33990910.48  1.091455e+08  1.927413e+07  11727414.5
2007       1.787576e+07  35954847.36  1.155138e+08  1.953662e+07  12274973.5

In [14]:
gapminder.pivot_table(
    values= 'pop',
    index='year',
    columns= 'continent',
    aggfunc= 'mean'
)

continent        Africa     Americas          Asia        Europe     Oceania
year
1952       4.570010e+06  13806097.84  4.228356e+07  1.393736e+07   5343003.0
1957       5.093033e+06  15478156.64  4.735699e+07  1.459635e+07   5970988.0
1962       5.702247e+06  17330810.16  5.140476e+07  1.534517e+07   6641759.0
1967       6.447875e+06  19229864.92  5.774736e+07  1.603930e+07   7300207.0
1972       7.305376e+06  21175368.40  6.518098e+07  1.668784e+07   8053050.0
1977       8.328097e+06  23122707.96  7.225799e+07  1.723882e+07   8619500.0
1982       9.602857e+06  25211636.80  7.909502e+07  1.770890e+07   9197425.0
1987       1.105450e+07  27310158.84  8.700669e+07  1.810314e+07   9787207.5
1992       1.267464e+07  29570964.16  9.494825e+07  1.860476e+07  10459825.5
1997       1.430448e+07  31876016.40  1.025238e+08  1.896480e+07  11120715.0
2002       1.603315e+07  33990910.48  1.091455e+08  1.927413e+07  11727414.5
2007       1.787576e+07  35954847.36  1.155138e+08  1.953662e+07  12274973.5

In [16]:


resultado = gapminder.pivot_table(
    values= 'pop',
    index='year',
    columns= 'continent',
    aggfunc= 'sum'
)

resultado.histplot(kind='bar')

#sns.histplot(data=resultado, x='year', multiple='dodge', stat='density')