In [1]:
import pandas as pd

dataframe = pd.read_csv('gapminder.csv')

print(dataframe)

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [2]:
dataframe.describe()

             year           pop      lifeExp      gdpPercap
count  1704.00000  1.704000e+03  1704.000000    1704.000000
mean   1979.50000  2.960121e+07    59.474439    7215.327081
std      17.26533  1.061579e+08    12.917107    9857.454543
min    1952.00000  6.001100e+04    23.599000     241.165876
25%    1965.75000  2.793664e+06    48.198000    1202.060309
50%    1979.50000  7.023596e+06    60.712500    3531.846988
75%    1993.25000  1.958522e+07    70.845500    9325.462346
max    2007.00000  1.318683e+09    82.603000  113523.132900

In [8]:
dataframe.groupby(['year']).aggregate(['mean','median','max','sum'])

C:\Users\abaci\AppData\Local\Temp\ipykernel_6160\3120998211.py:1: FutureWarning: ['country', 'continent'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  dataframe.groupby(['year']).aggregate(['mean','median','max','sum'])

               pop                                            lifeExp  \
              mean      median           max           sum       mean
year
1952  1.695040e+07   3943953.0  5.562635e+08  2.406957e+09  49.057620
1957  1.876341e+07   4282942.0  6.374080e+08  2.664405e+09  51.507401
1962  2.042101e+07   4686039.5  6.657700e+08  2.899783e+09  53.609249
1967  2.265830e+07   5170175.5  7.545500e+08  3.217478e+09  55.678290
1972  2.518998e+07   5877996.5  8.620300e+08  3.576977e+09  57.647386
1977  2.767638e+07   6404036.5  9.434550e+08  3.930046e+09  59.570157
1982  3.020730e+07   7007320.0  1.000281e+09  4.289437e+09  61.533197
1987  3.303857e+07   7774861.5  1.084035e+09  4.691477e+09  63.212613
1992  3.599092e+07   8688686.5  1.164970e+09  5.110710e+09  64.160338
1997  3.883947e+07   9735063.5  1.230075e+09  5.515204e+09  65.014676
2002  4.145759e+07  10372918.5  1.280400e+09  5.886978e+09  65.694923
2007  4.402122e+07  10517531.0  1.318683e+09  6.251013e+09  67.007423

                                      gdpPercap                             \
       median     max         sum          mean       median           max
year
1952  45.1355  72.670  6966.18200   3725.276046  1968.528344  108382.35290
1957  48.3605  73.470  7314.05096   4299.408345  2173.220291  113523.13290
1962  50.8810  73.680  7612.51336   4725.812342  2335.439533   95458.11176
1967  53.8250  74.160  7906.31712   5483.653047  2678.334740   80894.88326
1972  56.5300  74.720  8185.92888   6770.082815  3339.129407  109347.86700
1977  59.6720  76.110  8458.96236   7313.166421  3798.609244   59265.47714
1982  62.4415  77.110  8737.71400   7518.901673  4216.228428   33693.17525
1987  65.8340  78.670  8976.19100   7900.920218  4280.300366   31540.97480
1992  67.7030  79.360  9110.76800   8158.608521  4386.085502   34932.91959
1997  69.3940  80.690  9232.08400   9090.175363  4781.825478   41283.16433
2002  70.8255  82.000  9328.67900   9917.848365  5319.804524   44683.97525
2007  71.9355  82.603  9515.05400  11680.071820  6124.371108   49357.19017


               sum
year
1952  5.289892e+05
1957  6.105160e+05
1962  6.710654e+05
1967  7.786787e+05
1972  9.613518e+05
1977  1.038470e+06
1982  1.067684e+06
1987  1.121931e+06
1992  1.158522e+06
1997  1.290805e+06
2002  1.408334e+06
2007  1.658570e+06