In [125]:
import pandas as pd

In [126]:
# El fichero titanic.csv contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:
# a) Generar un DataFrame con los datos del fichero

var_dataframe = pd.read_csv ('titanic.csv')

print (var_dataframe)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [127]:
# Mostrar por pantalla las dimensiones del DataFrame y el número de datos que contiene

print (var_dataframe.shape)

(891, 12)

In [128]:
# Mostrar por pantalla el número de datos que contiene

print (var_dataframe.describe ())

       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

In [129]:
# Mostrar por pantalla los nombres de sus columnas y filas y los tipos de datos de las columnas

print (var_dataframe.dtypes)

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [130]:
# Mostrar por pantalla las 10 primeras filas y las 10 últimas filas

print (var_dataframe.iloc [:10])
print (var_dataframe.iloc [-10:])

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
     PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q

In [131]:
# Mostrar por pantalla los datos del pasajero con identificador 148

print (var_dataframe.iloc [148])

PassengerId                                         149
Survived                                              0
Pclass                                                2
Name           Navratil, Mr. Michel ("Louis M Hoffman")
Sex                                                male
Age                                                36.5
SibSp                                                 0
Parch                                                 2
Ticket                                           230080
Fare                                               26.0
Cabin                                                F2
Embarked                                              S
Name: 148, dtype: object

In [132]:
# Mostrar por pantalla las filas pares del DataFrame

print (var_dataframe.iloc [::2])

     PassengerId  Survived  Pclass  \
0              1         0       3
2              3         1       3
4              5         0       3
6              7         0       1
8              9         1       3
..           ...       ...     ...
882          883         0       3
884          885         0       3
886          887         0       2
888          889         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
2        0  STON/O2. 3101282   7.9250   NaN        S
4        0            373450   8.0500   NaN        S
6        0             17463  51.8625   E46        S
8        2            347742  11.1333   NaN        S
..     ...               ...      ...   ...      ...
882      0              7552  10.5167   NaN        S
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
888      2        W./C. 6607  23.4500   NaN        S
890      0            370376   7.7500   NaN        Q

[446 rows x 12 columns]

In [133]:
# Mostrar por pantalla los nombres de las personas que iban en  primera clase ordenadas alfabéticamente

print (var_dataframe [var_dataframe ['Pclass'] == 1] ['Name'].sort_values  ())

730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
                            ...
155                        Williams, Mr. Charles Duane
351             Williams-Lambert, Mr. Fletcher Fellows
55                                   Woolner, Mr. Hugh
555                                 Wright, Mr. George
325                           Young, Miss. Marie Grice
Name: Name, Length: 216, dtype: object

In [134]:
# Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron

print (var_dataframe ['Survived'].value_counts (normalize = True))

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [135]:
# Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase

var_dataframe.groupby ('Pclass') ['Survived'].value_counts (normalize = True)

Pclass  Survived
1       1           0.629630
        0           0.370370
2       0           0.527174
        1           0.472826
3       0           0.757637
        1           0.242363
Name: Survived, dtype: float64

In [136]:
# Eliminar del DataFrame los pasajeros con edad desconocida

print (var_dataframe.shape)
print (var_dataframe [var_dataframe ['Age'].isnull ()].shape)
print (var_dataframe [var_dataframe ['Age'].notnull ()].shape)

var_dataframe_filtered = var_dataframe

var_dataframe_filtered.dropna (how = 'all', subset = ['Age'], inplace = True)

print (var_dataframe_filtered.shape)

(891, 12)
(177, 12)
(714, 12)
(714, 12)

In [137]:
# Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase

print (var_dataframe [var_dataframe ['Sex'] == 'female'] ['Age'].mean ())

27.915708812260537

In [138]:
# Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no

var_dataframe ['is_minor'] = var_dataframe ['Age'] < 18

print (var_dataframe.head ())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked  is_minor
0      0         A/5 21171   7.2500   NaN        S     False
1      0          PC 17599  71.2833   C85        C     False
2      0  STON/O2. 3101282   7.9250   NaN        S     False
3      0            113803  53.1000  C123        S     False
4      0            373450   8.0500   NaN        S     False

In [149]:
# Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase

var_dataframe ['is_minor'] = var_dataframe ['Age'] < 18

var_dataframe_filtered = var_dataframe.groupby (['Pclass', 'is_minor'], group_keys = False) ['Survived'].value_counts (normalize = True).groupby (level = 0, group_keys = False).apply (lambda x: x / x.sum ())

print (var_dataframe_filtered)

Pclass  is_minor  Survived
1       False     1           0.318966
                  0           0.181034
        True      1           0.458333
                  0           0.041667
2       False     0           0.293333
                  1           0.206667
        True      1           0.456522
                  0           0.043478
3       False     0           0.398917
                  1           0.101083
        True      0           0.314103
                  1           0.185897
Name: Survived, dtype: float64

In [140]:
# P: ¿Qué son los datos perdidos en Python?
# R: Son valores faltantes o ausentes en un conjunto de datos. En términos simples, son valores que deberían estar presentes en un conjunto de datos pero no lo están

# P: ¿Cómo manipular datos perdidos?
# R: Eliminando las filas o columnas que contienen valores perdidos usando la función dropna ()
# R: Reemplazando los valores perdidos usando la función fillna ()
# R: Identificando los valores perdidos usando la función isna ()
# R: Rellenando valores perdidos en función de una condición usando la función where ()